* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.05rem;
  color: rgb(45, 45, 45);
  user-select: none;
}
body {
  background: #eeeeee;
  min-height: 100vh;
  min-height: 100svh;
}
